/*Mobile: width < 740px */
/* @media only screen and (max-width: 46.1875em) { */
    @media (max-width: 740px) {
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav li{
        display: block;
        background-color: dodgerblue;
    }
    #nav .child_more{
        position: initial;

    /*    vá» default*/
    }
    #nav .child_more a{
        padding: 0 20px;
        color: white;
        line-height: 46px;
        /*font: 16px Arial;*/
        font-size: 16px;
        text-transform: uppercase;
    }
    /*content*/
/*/*/



    .search{
        display: none;
    }
    #menu{
        display: block;
    }
}